
<div class="months">
<b>April</b><br><br/>
<% @entries.each do |entry| %>

  <% if entry.month=="april" %>
    <li>
        <a class="monthlist" href="/entries/<%= entry.id %>" >
         Subject: <%= entry.subject %> 
    </a> </li><br>
    
  <% end %>
<% end %>
</ul>
<h3>Total <i>$</i><%= @april_total%></h3>

</div>