
<div class="months">
<b>December</b><br><br/>
<% @entries.each do |entry| %>
 
  <% if entry.month=="december" %>
    <li>
        <a class="monthlist" href="/entries/<%= entry.id %>" >
         Subject: <%= entry.subject %> 
    </a> </li><br>
    
  <% end %>
<% end %>
</ul>
<h3>Total <i>$</i><%= @december_total%></h3>

</div>