
<div class="months">
<b>January</b><br><br/>
<% @entries.each do |entry| %>
<ul>
  <% if entry.month=="january" %>
    <li>
        <a class="monthlist" href="/entries/<%= entry.id %>" >
         Subject: <%= entry.subject %> 
    </a> </li><br>
    
  <% end %>
<% end %>
</ul>
<h3>Total <i>$</i><%= @january_total%></h3>


</div>