
<div class="months">
<b>July</b><br><br/>
<% @entries.each do |entry| %>
  <% if entry.month=="july" %>
    <li>
        <a class="monthlist" href="/entries/<%= entry.id %>" >
         Subject: <%= entry.subject %> 
    </a> </li><br>
    
  <% end %>
<% end %>
</ul>
<h3 class>Total <i>$</i><%= @july_total%></h3>

</div>