<h1 class="monthtitle"> March</h1>
<div class="months">
<% @entries.each do |entry| %>

  <% if entry.month=="march" %>
    <li>
        <a class="monthlist" href="/entries/<%= entry.id %>" >
         Subject: <%= entry.subject %> 
    </a> </li><br>
    
  <% end %>
<% end %>
</ul>
<h3 class="amount">Total <i>$</i><%= @march_total%></h3>

</div>