<h1 class="monthtitle">May</h1>
<div class="months">
<% @entries.each do |entry| %>

  <% if entry.month=="may" %>
    <li>
        <a class="monthlist" href="/entries/<%= entry.id %>" >
         Subject: <%= entry.subject %> 
    </a> </li><br>
    
  <% end %>
<% end %>
</ul>
<h3 class="amount">Total <i>$</i><%= @may_total%></h3>

</div>