
<div class="months">

<a class="monthlist" href="/entries" >
January
</a><br>
<a class="monthlist"href="/entries" >
February
</a><br>
<a class="monthlist"href="/entries" >
March
</a><br>
<a class="monthlist"href="/entries" >
April
</a><br>
<a class="monthlist"href="/entries" >
May
</a><br>
<a class="monthlist"href="/entries" >
June
</a><br>
<a class="monthlist"href="/entries" >
July
</a><br>
<a class="monthlist"href="/entries" >
August
</a><br>
<a class="monthlist"href="/entries/september" >
September
</a><br>
<a class="monthlist"href="/entries" >
October
</a><br>
<a class="monthlist"href="/entries" >
November
</a><br>
<a class="monthlist"href="/entries" >
December
</a>
</div>
