
<h1 class="title"> Add your new Expense</h1>

<form class="form1" method="POST" action="/entries">
Category: <input  class="un" type="text" name="subject"><br />

Details: <input class="un" type="text" name="details"><br />
Amount:<input  class="un" type="number" name="amount"><br />
Month:<input  class="un" type="text" name="month"><br />
<input class="submit" type="submit">

</form>