



<div class="container">
  
    <h2>Welcome to your Budget Calculator</h2><br />

      <p>Creating a budget just got easier!<br>

       Use our online budget calculator and take control of your spending.</p>
       <a class="welcome" href="/signup" >JOIN US</a>
</div>
